# The following is the workflow for web scrapping bitcoin indicators from "[bitinfocarts.com](https://bitinfocharts.com/comparison/bitcoin-transactions.html#alltime)"

In [86]:
# Importing Required Libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re
from datetime import datetime

In [87]:
# Define URLs and Column Names
urls = ['https://bitinfocharts.com/comparison/bitcoin-price.html#alltime',
        'https://bitinfocharts.com/comparison/bitcoin-transactions.html#alltime',
        'https://bitinfocharts.com/comparison/size-btc.html#alltime',
        'https://bitinfocharts.com/comparison/sentbyaddress-btc.html#alltime',
        'https://bitinfocharts.com/comparison/bitcoin-difficulty.html#alltime',

        'https://bitinfocharts.com/comparison/bitcoin-hashrate.html#alltime',
        'https://bitinfocharts.com/comparison/sentinusd-btc.html#alltime',
        'https://bitinfocharts.com/comparison/bitcoin-transactionfees.html#alltime',
        'https://bitinfocharts.com/comparison/bitcoin-median_transaction_fee.html#alltime',
        'https://bitinfocharts.com/comparison/bitcoin-confirmationtime.html#alltime',

        'https://bitinfocharts.com/comparison/transactionvalue-btc.html#alltime',
        'https://bitinfocharts.com/comparison/mediantransactionvalue-btc.html#alltime',
        'https://bitinfocharts.com/comparison/activeaddresses-btc.html#alltime',
        ]


column_names = ['btc_price', 'btc_trans_blockchain', 'avg_block_size', 'unique_sentbyaddress', 'avg_mining_diff', 
                'avg_hashrate', 'sent_in_USD', 'avg_trans_fee', 'median_trans_fee','avg_block_confirm_time_min', 
                'avg_trans_value_usd', 'median_trans_value_usd', 'unique_tofromaddress' ]

In [88]:
# Scrape Data and Create DataFrames
df_dict = {}

for idx, url in enumerate(urls):
    # Send a request to fetch the HTML content
    response = requests.get(url)
    html_content = response.text

    # Parse the HTML content
    soup = BeautifulSoup(html_content, 'html.parser')

    # Find the data container
    data_container = soup.find_all('script')
    for script in data_container:
        if 'd = new Dygraph(document.getElementById("container")' in script.text:
            data_script = script.text
            break

    data_regex = re.compile(r"\[\[new Date\(\".*?\]\]")
    raw_data_match = data_regex.search(data_script)
    raw_data_string = raw_data_match.group(0)
    entry_regex = re.compile(r"new Date\(\"(\d{4}/\d{2}/\d{2})\"\),([0-9.E+-]+|\bnull\b)")
    entries = entry_regex.findall(raw_data_string)

    # Convert entries into a list of tuples (date, hashrate)
    parsed_data = []
    for entry in entries:
        date_str, hashrate_str = entry
        date = datetime.strptime(date_str, '%Y/%m/%d')
        hashrate = None if hashrate_str == 'null' else float(hashrate_str)
        parsed_data.append((date, hashrate))
    
    # Step 3: Create a DataFrame
    df = pd.DataFrame(parsed_data, columns=['Date', column_names[idx]])
    df_dict[column_names[idx]] = df
    
df_dict

{'btc_price':            Date   btc_price
 0    2010-07-17      0.0495
 1    2010-07-18      0.0726
 2    2010-07-19      0.0859
 3    2010-07-20      0.0783
 4    2010-07-21      0.0767
 ...         ...         ...
 5017 2024-04-11  70454.0000
 5018 2024-04-12  69556.0000
 5019 2024-04-13  66583.0000
 5020 2024-04-14  64151.0000
 5021 2024-04-15  65552.0000

 [5022 rows x 2 columns],
 'btc_trans_blockchain':            Date  btc_trans_blockchain
 0    2009-01-03                   NaN
 1    2009-01-04                   NaN
 2    2009-01-05                   NaN
 3    2009-01-06                   NaN
 4    2009-01-07                   NaN
 ...         ...                   ...
 5576 2024-04-10              530903.0
 5577 2024-04-11              476109.0
 5578 2024-04-12              448353.0
 5579 2024-04-13              507009.0
 5580 2024-04-14              473171.0

 [5581 rows x 2 columns],
 'avg_block_size':            Date  avg_block_size
 0    2009-01-03           204.0
 1    2009-01-04             NaN
 2    2009-01-05             NaN
 3    2009-01-06             NaN
 4    2009-01-07             NaN
 ...         ...             ...
 5576 2024-04-10        758042.0
 5577 2024-04-11        755978.0
 5578 2024-04-12        730556.0
 5579 2024-04-13        689059.0
 5580 2024-04-14        686918.0

 [5581 rows x 2 columns],
 'unique_sentbyaddress':            Date  unique_sentbyaddress
 0    2009-01-09                   1.0
 1    2009-01-10                   NaN
 2    2009-01-11                   1.0
 3    2009-01-12                   7.0
 4    2009-01-13                  10.0
 ...         ...                   ...
 5570 2024-04-10              417731.0
 5571 2024-04-11              377904.0
 5572 2024-04-12              381751.0
 5573 2024-04-13              354343.0
 5574 2024-04-14              275714.0

 [5575 rows x 2 columns],
 'avg_mining_diff':            Date  avg_mining_diff
 0    2009-01-03     1.000000e+00
 1    2009-01-04              NaN
 2    2009-01-05              NaN
 3    2009-01-06              NaN
 4    2009-01-07              NaN
 ...         ...              ...
 5576 2024-04-10     8.345099e+13
 5577 2024-04-11     8.638856e+13
 5578 2024-04-12     8.638856e+13
 5579 2024-04-13     8.638856e+13
 5580 2024-04-14     8.638856e+13

 [5581 rows x 2 columns],
 'avg_hashrate':            Date  avg_hashrate
 0    2009-01-03           NaN
 1    2009-01-04           NaN
 2    2009-01-05           NaN
 3    2009-01-06           NaN
 4    2009-01-07           NaN
 ...         ...           ...
 5576 2024-04-10  6.381109e+20
 5577 2024-04-11  6.271128e+20
 5578 2024-04-12  5.282425e+20
 5579 2024-04-13  6.582811e+20
 5580 2024-04-14  6.941267e+20

 [5581 rows x 2 columns],
 'sent_in_USD':            Date   sent_in_USD
 0    2010-07-17  1.193000e+03
 1    2010-07-18  2.612000e+03
 2    2010-07-19  4.047000e+03
 3    2010-07-20  2.341000e+03
 4    2010-07-21  2.122000e+03
 ...         ...           ...
 5016 2024-04-10  2.297428e+10
 5017 2024-04-11  1.869756e+10
 5018 2024-04-12  1.994199e+10
 5019 2024-04-13  1.319369e+10
 5020 2024-04-14  1.077752e+10

 [5021 rows x 2 columns],
 'avg_trans_fee':            Date  avg_trans_fee
 0    2010-07-17       0.000010
 1    2010-07-18       0.000243
 2    2010-07-19       0.000022
 3    2010-07-20            NaN
 4    2010-07-21            NaN
 ...         ...            ...
 5016 2024-04-10       9.099000
 5017 2024-04-11      15.446000
 5018 2024-04-12      24.391000
 5019 2024-04-13      13.855000
 5020 2024-04-14      10.326000

 [5021 rows x 2 columns],
 'median_trans_fee':            Date  median_trans_fee
 0    2010-07-17               NaN
 1    2010-07-18               NaN
 2    2010-07-19               NaN
 3    2010-07-20               NaN
 4    2010-07-21               NaN
 ...         ...               ...
 5016 2024-04-10             4.843
 5017 2024-04-11             8.201
 5018 2024-04-12            13.849
 5019 2024-04-13             6.621
 5020 2024-04-14             4.558

 [5021 rows x 2 columns],
 'avg_block_confirm_time_min':            Date  avg_block_confirm_time_min
 0    2009-01-09                     102.857
 1    2009-01-10                      23.607
 2    2009-01-11                      15.484
 3    2009-01-12                      15.319
 4    2009-01-13                      11.707
 ...         ...                         ...
 5570 2024-04-10                       9.536
 5571 2024-04-11                      10.909
 5572 2024-04-12                      10.588
 5573 2024-04-13                       8.780
 5574 2024-04-14                       9.172

 [5575 rows x 2 columns],
 'avg_trans_value_usd':            Date  avg_trans_value_usd
 0    2010-07-17                2.924
 1    2010-07-18                6.237
 2    2010-07-19                7.666
 3    2010-07-20                3.940
 4    2010-07-21                4.583
 ...         ...                  ...
 5016 2024-04-10           100692.000
 5017 2024-04-11           120368.000
 5018 2024-04-12           123775.000
 5019 2024-04-13            83871.000
 5020 2024-04-14            90926.000

 [5021 rows x 2 columns],
 'median_trans_value_usd':            Date  median_trans_value_usd
 0    2010-07-17                   0.248
 1    2010-07-18                   0.363
 2    2010-07-19                   0.429
 3    2010-07-20                   5.105
 4    2010-07-21                   3.837
 ...         ...                     ...
 5016 2024-04-10                 141.399
 5017 2024-04-11                 132.712
 5018 2024-04-12                 240.210
 5019 2024-04-13                  97.422
 5020 2024-04-14                  83.048

 [5021 rows x 2 columns],
 'unique_tofromaddress':            Date  unique_tofromaddress
 0    2009-01-03                   NaN
 1    2009-01-04                   NaN
 2    2009-01-05                   NaN
 3    2009-01-06                   NaN
 4    2009-01-07                   NaN
 ...         ...                   ...
 5577 2024-04-11              652545.0
 5578 2024-04-12              711174.0
 5579 2024-04-13              734096.0
 5580 2024-04-14              741201.0
 5581 2024-04-15              740374.0

 [5582 rows x 2 columns]}

In [89]:
df_dict_copy = df_dict.copy()

In [90]:
# Combine All DataFrames
for idx in range(len(column_names)):
    if idx == 0:
        df_combined = df_dict_copy[column_names[idx]]
        df_combined.set_index('Date', inplace=False)
        df_combined['Date'] = pd.to_datetime(df_combined['Date'])  # Convert the 'Date' column to datetime objects
    else:
        df2 = df_dict[column_names[idx]]
        df2['Date'] = pd.to_datetime(df2['Date'])  # Convert the 'Date' column to datetime objects
        df2.set_index('Date', inplace=True)
        df_combined = df_combined.join(df2, on=['Date'], how='outer', sort=True)
df_combined

,Date,btc_price,btc_trans_blockchain,avg_block_size,unique_sentbyaddress,avg_mining_diff,avg_hashrate,sent_in_USD,avg_trans_fee,median_trans_fee,avg_block_confirm_time_min,avg_trans_value_usd,median_trans_value_usd,unique_tofromaddress
NaN,2009-01-03,NaN,NaN,204.0,NaN,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,2009-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,2009-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,2009-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,2009-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5017.0,2024-04-11,70454.0,476109.0,755978.0,377904.0,8.638856e+13,6.271128e+20,1.869756e+10,15.446,8.201,10.909,120368.0,132.712,652545.0
5018.0,2024-04-12,69556.0,448353.0,730556.0,381751.0,8.638856e+13,5.282425e+20,1.994199e+10,24.391,13.849,10.588,123775.0,240.210,711174.0
5019.0,2024-04-13,66583.0,507009.0,689059.0,354343.0,8.638856e+13,6.582811e+20,1.319369e+10,13.855,6.621,8.780,83871.0,97.422,734096.0
5020.0,2024-04-14,64151.0,473171.0,686918.0,275714.0,8.638856e+13,6.941267e+20,1.077752e+10,10.326,4.558,9.172,90926.0,83.048,741201.0
5021.0,2024-04-15,65552.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,740374.0

In [91]:
df_combined.set_index('Date', inplace=True)
df_combined

,btc_price,btc_trans_blockchain,avg_block_size,unique_sentbyaddress,avg_mining_diff,avg_hashrate,sent_in_USD,avg_trans_fee,median_trans_fee,avg_block_confirm_time_min,avg_trans_value_usd,median_trans_value_usd,unique_tofromaddress
Date,,,,,,,,,,,,,
2009-01-03,NaN,NaN,204.0,NaN,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-04-11,70454.0,476109.0,755978.0,377904.0,8.638856e+13,6.271128e+20,1.869756e+10,15.446,8.201,10.909,120368.0,132.712,652545.0
2024-04-12,69556.0,448353.0,730556.0,381751.0,8.638856e+13,5.282425e+20,1.994199e+10,24.391,13.849,10.588,123775.0,240.210,711174.0
2024-04-13,66583.0,507009.0,689059.0,354343.0,8.638856e+13,6.582811e+20,1.319369e+10,13.855,6.621,8.780,83871.0,97.422,734096.0
2024-04-14,64151.0,473171.0,686918.0,275714.0,8.638856e+13,6.941267e+20,1.077752e+10,10.326,4.558,9.172,90926.0,83.048,741201.0
2024-04-15,65552.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,740374.0

In [92]:
# Save the Combined DataFrame
df_combined.to_csv('bitcoin_data_bitcoininfocharts.csv', index=True, encoding='utf-8')